<app-card></app-card>
<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>

<button mat-button>Botón Básico</button>
<button mat-raised-button color="primary">Botón con relleno y color primary</button>
<button mat-stroked-button color="accent">Botón con contorno,hover y color accent</button>
<button mat-flat-button color="warn">Botón con contorno y color warn</button>

<mat-form-field appearance="fill">
  <mat-label>Datos</mat-label>
  <input matInput> //Input Material
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Lista seleccionable</mat-label>
  <mat-select> //Select Material
    <mat-option value="A">Opcion A</mat-option>
    <mat-option value="B">Opcion B</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Cuadro de texto</mat-label>
  <textarea matInput></textarea>
</mat-form-field>
